<!DOCTYPE html>
<html>
    <head>
        <title>TADS Atividade Desenvolvimento Web 2022-2</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Listagem e inclusão de músicas</h1>
        <h2>TADS Atividade Desenvolvimento Web 2022-2 - Turma A</h2>
        <p>Nome completo: <strong>Matheus Cavalcanti de Arruda</strong></p>
        <p>Observações:<br />
            <img src="https://thumbs.gfycat.com/FatalPlainArcherfish-size_restricted.gif" alt="observacoes">
        </p>
        <p>
            <a href="http://localhost:8080/music/list">Abrir lista de músicas</a>
        </p>
    </body>
</html>
