<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Todas as músicas</title>
</head>

<body>
    <div id="list-title">
        <button class="btn-default" onclick="window.location.href = 'http://localhost:8080'">🡄 Voltar para a home</button>
        <h1>Todas as músicas</h1>
    </div>
    <button class="btn-add" id="btn-new-music" type="submit">+ Nova música</button>

    <table id="music-table">
        <thead>
            <th>ID</th>
            <th>Título</th>
            <th>Artista</th>
            <th>Ano de lançamento</th>
            <th></th>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
<script>

    const newMusicMessage = () => {
        if (localStorage.getItem('new-music') === 'true') {
            document.querySelector('#list-title').insertAdjacentHTML('afterend', '<div id="new-music-message"><h3>Música adicionada com sucesso</h3></div>')
            localStorage.setItem('new-music', 'false')
        }
    }

    const loadMusicList = () => {
        const request = new XMLHttpRequest()
        request.open('GET', 'http://localhost:8080/api/music/all', true)
        request.setRequestHeader('Content-Type', 'application/json')
        request.setRequestHeader('Accept', 'application/json')
        request.addEventListener('load', () => {
            if (request.status !== 200) {
                return
            }

            const content = JSON.parse(request.response)
            document.querySelector('#music-table > tbody').innerHTML = ''

            if (Object.keys(content).length === 0) {
                document.querySelector('#music-table').insertAdjacentHTML('afterend', '<p>Nenhuma música adicionada.</p>')
                return
            }

            newMusicMessage()

            for (const music of content) {
                document.querySelector('#music-table > tbody').insertAdjacentHTML('beforeend',
                    `<tr>
                        <td>${music.id}</td>
                        <td>${music.titulo}</td>
                        <td>${music.artista}</td>
                        <td>${music.anoLancamento}</td>
                        <td class="btn-cell"><button class="btn-delete-music" name="btn-delete-${music.id}" onClick="deleteMusic(this)">🗑 Apagar</button></td>
                    </tr>`
                )
            }
        })
        request.send()
    }

    const deleteMusic = (element) => {
        const elementName = element.getAttribute('name')
        const musicID = parseInt(elementName.split('-')[2])
        const request = new XMLHttpRequest()
        request.open('DELETE', `http://localhost:8080/api/music/delete?id=${musicID}`, true)
        request.setRequestHeader('Content-Type', 'application/json')
        request.setRequestHeader('Accept', '*/*')
        request.addEventListener('load', (event) => {
            if (request.status !== 200) {
                console.log(request.responseText)
                return
            }
            loadMusicList()
        })
        request.send()
    }

    window.addEventListener('load', loadMusicList)
    document.querySelector('#btn-new-music').addEventListener('click', () => { window.location.href = '/music/new' })
</script>

</html>