<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Nova música</title>
</head>

<body>
    <article>
        <h1>Nova música</h1>
        <form id="form-new-music">
            <div id="form-new-music-input-fields">
                <ul>
                    <li>
                        <div>
                            <label for="titulo">Título</label>
                        </div>
                        <div>
                            <input class="input-field" id="titulo" name="titulo" type="text" title="Título"
                                placeholder="Preencha o título da música">
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="artista">Artista</label>
                        </div>
                        <div>
                            <input class="input-field" id="artista" name="artista" type="text" title="Artista"
                                placeholder="Preencha o nome do artista">
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="ano_lancamento">Ano de lançamento</label>
                        </div>
                        <div>
                            <input class="input-field" id="ano_lancamento" name="ano_lancamento" type="number"
                                title="Ano de lançamento" placeholder="Preencha o ano de lançamento da música">
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <button class="btn-default" id="btn-cancel">Cancelar</button>
                <button class="btn-add" id="btn-send">Adicionar música</button>
            </div>
        </form>

    </article>
</body>
<script>

    const buildMusic = () => {
        const title = document.querySelector('#titulo').value
        const artist = document.querySelector('#artista').value
        const year = parseInt(document.querySelector('#ano_lancamento').value)
        return {
            titulo: title,
            artista: artist,
            ano_lancamento: year
        }
    }

    const saveMusic = (event) => {
        event.preventDefault()
        const request = new XMLHttpRequest()

        request.open('POST', 'http://localhost:8080/api/music/new', true)
        request.setRequestHeader('Content-Type', 'application/json')
        request.setRequestHeader('Accept', '*/*')

        request.onload = (event) => {
            if (request.status !== 200) {
                const response = request.responseText
                const fields = response.replace('[', '').replace(']', '').split(',').map((item) => {return item.trim()})
                for (const field in fields) {
                    console.log(field)
                }
                return
            }

            localStorage.setItem('new-music', 'true')
            window.location.href = 'http://localhost:8080/music/list'
        }

        request.send(JSON.stringify(buildMusic()))
    }

    document.querySelector('#btn-cancel').addEventListener('click', () => { window.location.href = 'http://localhost:8080/music/list' })
    document.querySelector('#form-new-music').addEventListener('submit', saveMusic)
</script>

</html>