<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <article>
        <!-- <form action=""> -->
        <h1>Nova música</h1>
        <input id="tituloField" type="text" title="Título" placeholder="Preencha o título da música">
        <input id="artistaField" type="text" title="Artista" placeholder="Preencha o nome do artista">
        <input id="anoField" type="number" title="Ano de lançamento"
            placeholder="Preencha o ano de lançamento da música">
        <button id="cancelBtn">Cancelar</button>
        <button id="sendBtn">Enviar</button>
        <!-- </form> -->
    </article>
</body>
<script>

    const salvarMusica = async () => {

        const titulo = document.querySelector('#tituloField').value
        const artista = document.querySelector('#artistaField').value
        const ano = parseInt(document.querySelector('#anoField').value)

        let musica = {
            titulo: titulo,
            artista: artista,
            ano_lancamento: ano
        }

        const response = await fetch('http://localhost:8080/api/nova-musica', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(musica)
        })
    }

    const musicaModel = async () => {
        const response = await fetch('http://localhost:8080/api/musica-model', { method: 'GET' })
        console.log(response.json())
    }

    document.querySelector('#sendBtn').addEventListener('click', salvarMusica)
    document.querySelector('#cancelBtn').addEventListener('click', musicaModel)
</script>

</html>