<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
<link rel="stylesheet" th:href="@{/style.css}"/>
</head>

<body>
  <article>
    <div id="linha-principal">
      <div id="col-esq">
        <section id="dados-contato">
          <h1 th:text="${cv.nome}"></h1>
          <p>Telefone: <span th:text="${cv.telefone}"></span></p>
          <p>E-mail: <span th:text="${cv.email}"></span></p>
          <p>Data de nascimento: <span th:text="${#temporals.format(cv.dataNascimento, 'dd/MM/yyyy')}"></span></p>
          <p>LinkedIn:
            <a th:href="${cv.linkedin}" th:text="${cv.linkedin}" target="_blank"></a>
          </p>
          <p>Github:
            <a th:href="${cv.github}" th:text="${cv.github}" target="_blank"></a>
          </p>
        </section>
        <section id="conhecimentos" class="secao-dados">
          <h2>Conhecimentos</h2>
          <ul>
            <li th:each="conhecimento : ${cv.conhecimentos}" th:text="${conhecimento}"></li>
          </ul>
        </section>
      </div>
      <div id="col-dir">
        <section id="exp-prof" class="secao-dados">
          <h2>Experiências profissionais</h2>
          <ul>
            <li th:each="experiencia : ${cv.experienciasProfissionais}">
              <h3 th:text="${experiencia.empresa}"></h3>
              <p><strong th:text="${experiencia.cargo}"></strong></p>
              <p>Data de início: <span th:text="${#temporals.format(experiencia.dataInicio, 'dd/MM/yyyy')}"></span></p>
              <p>Data de término: <span th:text="${#temporals.format(experiencia.dataTermino, 'dd/MM/yyyy')} ?: 'Atual'"></span></p>
            </li>
          </ul>
        </section>
        <section id="form-acad" class="secao-dados">
          <h2>Formação acadêmica</h2>
          <ul>
            <li th:each="formacao : ${cv.formacaoAcademica}">
              <h3 th:text="${formacao.curso}"></h3>
              <p><strong th:text="${formacao.instituicao}"></strong></p>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <section id="idiomas" class="secao-dados">
      <h2>Idiomas</h2>
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Leitura</th>
            <th>Escrita</th>
            <th>Conversação</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="idioma : ${cv.idiomas}">
            <th th:text="${#strings.capitalize(idioma.idioma)}"></th>
            <td th:text="${#strings.capitalize(idioma.leitura)}"></td>
            <td th:text="${#strings.capitalize(idioma.escrita)}"></td>
            <td th:text="${#strings.capitalize(idioma.conversacao)}"></td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>
</body>

</html>